
#status {
  border: 1px solid black;
  width: 120px;
  height: 60px;
  background-color: #66bb66;
  font-size: 50px;
  padding-top:  5px;
  margin-bottom: 50px;
  text-align: center;
  margin: 0 auto;
}

#canvas {
  position: relative;
  border: 1px solid black;
  width: 800px;
  margin: 20px auto 0px;
}